{{ partial "categories-header" .}}

<div>
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ $categories_name := .Name }}

  <!-- 記事タイトルの一覧 -->
  <!--<ul class="list-group-flush">-->
  <ul class="post-list">
  {{ range $pages }}
  <!--<li class="list-group-item">-->
    <li>
    <time datetime="{{ .Date.Format "2006-01-02" }}">
    {{ .Date.Format "2006/01/02"}}
    </time>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  
    {{ partial "categories-list" .}}
    
    </li>
  {{ end }}
  </ul>
</div>