    <!-- 記事のカテゴリーを表示 -->
    {{ range $key, $value := .Params.categories }}

      {{ if eq $value "themes" }}
        <span class="badge badge-info badge;">
          #{{ $value }}
        </span>
      {{ end }}

      {{ if eq $value "syntax" }}
        <span class="badge badge-success badge;">
          #{{ $value }}
        </span>
      {{ end }}

      {{ if eq $value "test" }}
        <span class="badge badge-danger badge;">
          #{{ $value }}
        </span>
      {{ end }}

    {{ end }}